html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size: 38px;
  --color-fore: rgb(0, 0, 0);
  --color-back: rgb(255, 255, 255);
}

#app {
  width: calc(var(--font-size) * 4);
  background-color: var(--color-back);
  border-radius: 0 0 8px 8px;
  padding: 8px;

  font-family: sans-serif;
  font-weight: lighter;
  color: var(--color-fore);
}

.date {
  font-size: calc(var(--font-size) * 0.5);
  display: block;
  text-align: center;
}

.time {
  font-size: var(--font-size);
  display: block;
  text-align: center;
  border-bottom: solid 1px var(--color-fore);
}